

#body{
    width:  100%;
    height:  auto;
    display:  inline-block;
    text-align: center;

    background:  gray;
}

#container{
    width: auto;
    height: auto;
    display: inline-block;
}

.sections{
    width:  auto;
    height:  auto;
    display:  inline-block;

}

ul{
    margin: 0;
    padding: 0;
    list-style:  none;

    --border:  1px solid black;
}

li{
    font-family: 'Courier New', monospace;
    font-weight:  500;
    font-size: 1.15em;
    padding-left:  1em;
    padding-right:  1em;

}
a{
    text-decoration: none;
}

h5{
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.2em;
}